Random code checks. Ignore this.

In [1]:
import pandas as pd
import numpy as np

In [2]:
from fxvol.data_utils import load_csv
log_returns = load_csv('processed', 'log_returns')

In [3]:
from fxvol.fin_comp import log_returns

In [3]:
from fxvol.data_utils import load_csv, save_csv
from fxvol.fin_comp import log_returns

# Interpolate between missing values

df = load_csv("raw", "fx_spots", index_col="Date")
df.interpolate(inplace=True)

                 AUD      CHF       EUR       GBP         JPY
Date
2010-01-01  0.898473  1.03390  1.438994  1.613294   92.919998
2010-01-04  0.912492  1.02910  1.442398  1.611370   92.495003
2010-01-05  0.911826  1.03370  1.436596  1.599079   91.584999
2010-01-06  0.920471  1.02760  1.440403  1.602384   92.356003
2010-01-07  0.917768  1.03360  1.431803  1.593397   93.389999
...              ...      ...       ...       ...         ...
2025-12-23  0.665840  0.79143  1.176595  1.346990  156.876999
2025-12-24  0.670190  0.78745  1.179551  1.351360  156.175995
2025-12-26  0.670560  0.78805  1.178536  1.350895  156.089996
2025-12-29  0.671410  0.78924  1.177274  1.349728  156.462997
2025-12-30  0.669550  0.78870  1.177288  1.351099  156.013000

[4165 rows x 5 columns]

In [4]:
log_returns(df)

                 AUD       CHF       EUR       GBP       JPY
Date
2010-01-01       NaN       NaN       NaN       NaN       NaN
2010-01-04  0.015483 -0.004654  0.002363 -0.001193 -0.004584
2010-01-05 -0.000730  0.004460 -0.004031 -0.007657 -0.009887
2010-01-06  0.009436 -0.005919  0.002647  0.002065  0.008383
2010-01-07 -0.002941  0.005822 -0.005989 -0.005625  0.011134
...              ...       ...       ...       ...       ...
2025-12-23  0.007266 -0.005544  0.004929  0.006918 -0.005080
2025-12-24  0.006512 -0.005042  0.002509  0.003239 -0.004479
2025-12-26  0.000552  0.000762 -0.000861 -0.000345 -0.000551
2025-12-29  0.001266  0.001509 -0.001072 -0.000864  0.002387
2025-12-30 -0.002774 -0.000684  0.000012  0.001016 -0.002880

[4165 rows x 5 columns]

In [5]:
eur_log_ret = log_returns['EUR']

TypeError: 'function' object is not subscriptable

In [7]:
eur.shift(-2).iloc[:4]

Date
2010-01-04    0.002647
2010-01-05   -0.005989
2010-01-06    0.006478
2010-01-07    0.006927
Name: EUR, dtype: float64

In [13]:
eur.index.get_loc('2010-01-08')

4

In [14]:
eur.iloc[:3]

Date
2010-01-04    0.002363
2010-01-05   -0.004031
2010-01-06    0.002647
Name: EUR, dtype: float64